Infinite/ASP/WebServices/WebClient/Connected Services/MyServicesReference/MyServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Message">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Squareroot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SquarerootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SquarerootResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="MessageSoapIn">
    <wsdl:part name="parameters" element="tns:Message" />
  </wsdl:message>
  <wsdl:message name="MessageSoapOut">
    <wsdl:part name="parameters" element="tns:MessageResponse" />
  </wsdl:message>
  <wsdl:message name="SquarerootSoapIn">
    <wsdl:part name="parameters" element="tns:Squareroot" />
  </wsdl:message>
  <wsdl:message name="SquarerootSoapOut">
    <wsdl:part name="parameters" element="tns:SquarerootResponse" />
  </wsdl:message>
  <wsdl:portType name="MyServicesSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Message">
      <wsdl:input message="tns:MessageSoapIn" />
      <wsdl:output message="tns:MessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Squareroot">
      <wsdl:input message="tns:SquarerootSoapIn" />
      <wsdl:output message="tns:SquarerootSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyServicesSoap" type="tns:MyServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap:operation soapAction="http://tempuri.org/Message" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Squareroot">
      <soap:operation soapAction="http://tempuri.org/Squareroot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MyServicesSoap12" type="tns:MyServicesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Message">
      <soap12:operation soapAction="http://tempuri.org/Message" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Squareroot">
      <soap12:operation soapAction="http://tempuri.org/Squareroot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyServices">
    <wsdl:port name="MyServicesSoap" binding="tns:MyServicesSoap">
      <soap:address location="https://localhost:44326/MyServices.asmx" />
    </wsdl:port>
    <wsdl:port name="MyServicesSoap12" binding="tns:MyServicesSoap12">
      <soap12:address location="https://localhost:44326/MyServices.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>